@-webkit-keyframes fadeIn { 
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

@-webkit-keyframes fadeInLeft { 
  0% { opacity: 0; -webkit-transform: translateX(-200px); }
  100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-webkit-keyframes fadeInTop{
	0% { opacity: 0; -webkit-transform: translateY(-200px); }
	100%{ opacity: 1; -webkit-transform: translateY(0px); }
}

@-webkit-keyframes fadeScale{
	0% { -webkit-transform: scale(1);}
	100% { -webkit-transform: scale(2);}
}

.nav-holder ul.nav li a{
	-webkit-animation: fadeIn 1s ease-in-out;
	-webkit-transition: all 0.3s linear;
}

.nav-holder ul.nav li i{
	-webkit-animation: fadeInTop 1s ease-in-out;
	-webkit-transition: all 0.3s linear;
}

.nav-holder ul.nav li:hover{
	/*background: #87CEEB;*/
	box-shadow: 0px 3px 0 #5cb85c;
	/*box-shadow: 0px 3px 0 #333333;*/
}

.nav-holder ul.nav li:hover a {
	color: #DEDEDE;
	/*color: #43d5b1;*/
}

.nav-holder ul.nav #nav2:hover i, .nav-holder ul.nav #nav4:hover i{
	-webkit-transform:scale(4);
	opacity: 0.4;
}

.nav-holder ul.nav #nav1:hover i, .nav-holder ul.nav #nav3:hover i{
	-webkit-transform: rotateY(360deg) skew(10deg,10deg) scale(4);
	opacity: 0.4;
}

/*.nav-holder ul.nav #nav3:hover i{
	-webkit-transform:scale(1.2) scale(1) scale(4);
	opacity: 0.4;
}*/

.nav-holder ul.nav #nav5:hover i{
	-webkit-transform: translateX(80px) rotate(360deg) scale(4);
	opacity: 0.4;
}

.form{
	-webkit-animation: fadeIn 1s linear;
}

